<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.nucleus_mobile.NucleusInvoice" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="NucleusInvoice.Android" android:icon="@drawable/nucleus_invoice_320"></application>
</manifest>